
/**
 * Univercube general styles. Alexey Karetski.
 * http://univercube.com
 */

body {
	background: #1e1e1e url('../img/bgpattern.png') repeat scroll center top;;
	color: #878787;
	font: 20px 'Open Sans', Arial, sans-serif;
	font-weight: 300;
	line-height: 1.2;
}

h1 {
	color: #fafafa;
	font-size: 32px;
	font-weight: 400;
}

a {
	color: #fafafa;
	font-weight: 400;
	text-decoration: none;
}

a:hover {
	color: #fff;
	text-decoration: underline;
}

	body .container {
		width: 100%;
		min-width: 1240px;
	}

		body .container > .wrapper {
			width: 1160px;
			margin: 0 auto;
			padding: 40px;
		}

	body .header-container {
		overflow: hidden;
	}

			body .header-container > .wrapper > .info {
				width: 400px;
				float: left;
			}

	 			body .header-container > .wrapper > .info > .logo {
					width: 400px;
					height: 80px;
					display: block;
					background: url('../img/hellologo.png') no-repeat;
				}

				body .header-container > .wrapper > .info > h1 {
					height: 80px;
					display: inline-block;
					margin-top: 60px;
				}

				body .header-container > .wrapper > .info > p {
					height: 140px;
					display: inline-block;
					margin-top: 40px;
				}

				body .header-container > .wrapper > .info > .label {
					margin-top: 40px;
				}

			body .header-container > .wrapper > .images {
				width: 560px;
				height: 400px;
				float: right;
				margin-top: 80px;
			}

	body .features-container {
		background: #fafafa;
	}

				body .features-container > .wrapper > .annotations > .item > h1 {
					color: #464646;
				}

	body .social-container {
		/*background: url('../img/bgpattern.png') repeat scroll center top;*/
	}

			body .social-container > .wrapper > .annotations > .item {
				height: 160px;
			}

		body .footer-container > .wrapper {
			height: 80px;
			padding: 0 40px;
			border-top: 3px solid #fafafa;
			text-align: center;
		}

			body .footer-container > .wrapper > span {
				display: inline-block;
				margin-top: 26px;
			}
