html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #1A40FF;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    padding: 8px 0;
}

h2 {
    font-size: 32px;
    font-weight: 800;
    padding: 4px 0;
}

h3 {
    font-size: 32px;
    font-weight: 400;
    padding: 6px 0;
}

h5 { /* Incompleted */
    font-size: 24px;
    font-weight: 400;
    padding: 4px 0;
}

h5 {
    font-size: 24px;
    font-weight: 800;
    padding: 5px 0;
}

.primaryText {
    font-size: 20px;
    color: #000;
    line-height: 1.35;
}

.secondaryText {
    font-size: 20px;
    color: #7F7F7F;
    line-height: 1.35;
}

header {
    width: 100%;
    min-width: 1216px;
    background: #ccc url(../images/gradientBackground.png) no-repeat center center;
    background-size: 100% 100%;
    height: 256px;
    padding: 256px 0;
    display: flex;
    justify-content: flex-start;
}

    header > div {
        width: 50%;
        height: 100%;
        display: flex;
    }

    .logoContainer {
        justify-content: flex-end;
    }

        .logoContainer > img {
            margin: 0 32px;
        }

    .contactsContainer {
        justify-content: flex-start;
    }

        .contactsContainer > .contactsStylingArrow {
            width: 70px;
            height: 256px;
            background: url(../images/angleShapeLeft.svg);
        }

        .contactsContainer > .contactsList {
            width: 270px;
            margin: 0;
            padding: 20px 0 20px 14px;
            background: #FFFF1A;
        }

            .contactsList > li {
                padding: 12px;
                height: 48px;
                display: flex;
                position: relative;
            }

            .contactsList > li:hover {
                border-radius: 16px 0 0 16px;
                background-color: rgba(0, 0, 0, 0.05);
            }

                .contactsList > li > a {
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    display: block;
                    position: absolute;
                    border-radius: 16px 0 0 16px;
                }

                .contactsList > li > img {
                    width: 48px;
                    height: 48px;
                    object-fit: contain;
                }

                .contactsList > li > ul {
                    padding: 0 24px;
                }
                
                    .contactsList > li > ul > li {
                        font-size: 18px;
                        padding: 2px 0 4px;
                    }

                    .contactsList > li > ul > .contactValue {
                        color: #1A40FF;
                    }

main {
    width: 100%;
}

    main > section {
        width: inherit;
        min-width: 1216px;
        min-height: 304px;
        background-image: linear-gradient(to bottom, #F2F2F2 , #FFF 304px);
    }

.wrapper {
    width: 1152px;
    margin: 0 auto;
    padding: 64px 32px;
}

    .wrapper > .header {
        padding: 32px;
        height: 112px;
    }

    .about > .header {
        display: flex;
        justify-content: space-between;
    }

    .about > .header > .tags {
        max-width: 464px;
        display: flex;
        flex-flow: wrap;
        align-content: flex-start;
    }

        .about > .header > .tags > li {
            font-size: 24px;
            padding: 12px 16px;
            margin: 0 0 16px 16px;
            border-radius: 16px;
            background-color: #FFFF1A;
        }

        .about > .header > .tags > .more {
            width: 48px;
            height: 48px;
            padding: 0;
            background: #1A40FF url(../images/iconMore.svg) no-repeat center;
            position: relative;
        }

            .about > .header > .tags > .more > a {
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                display: block;
                position: absolute;
                border-radius: 16px;
            }

    .about > .description {
        width: 544px;
        height: 160px;
        padding: 0 32px 32px 32px;
    }

            .grid > .item {
                width: 512px;
                margin: 64px 0 32px 0;
                background-color: #FFF;
                border-radius: 32px;
                box-shadow: 0 16px 48px rgba(0,0,0,0.1);
            }

                .grid > .item > img {
                    width: 100%;
                    height: 192px;;
                    border-radius: 32px 32px 0 0;
                }

                .grid > .item > .header {
                    padding: 24px 32px 0 32px;
                    display: flex;
                    justify-content: space-between;
                }

                    .grid > .item > .header > .title > .timePeriod {
                        padding: 2px 0;
                    }

                .grid > .item > .content {
                    padding: 0 32px;
                }

                    .grid > .item > .content > p {
                        padding: 24px 0 0 0;
                    }

                    .grid > .item > .content > .promo {
                        height: 64px;
                        display: flex;
                        border-radius: 24px;
                        margin: 24px 0 0 0;
                        padding: 16px;
                        background: #F2F2F2;
                    }

                        .grid > .item > .content > .promo > img {
                            width: 64px;
                            height: 64px;
                            object-fit: contain;
                        }

                        .grid > .item > .content > .promo > .description {
                            padding: 2px 16px;
                            flex: 1;
                        }

                            .grid > .item > .content > .promo > .description > p {
                                font-size: 16px;
                            }

                        .grid > .item > .content > .promo > a {
                            font-size: 20px;
                            font-weight: 800;
                            padding: 10px 12px;
                            border-radius: 12px;
                            align-self: center;
                            color: #FFF;
                            background-color: #1A40FF;
                        }
                    
                .grid > .item > .tags {
                    display: flex;
                    flex-flow: wrap;
                    align-content: flex-start;
                    padding: 18px 26px 26px 26px;
                }
            
                    .grid > .item > .tags > li {
                        font-size: 20px;
                        padding: 10px 12px;
                        margin: 6px;
                        border-radius: 12px;
                        background-color: #FFFF1A;
                    }
