body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #1A40FF;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 48px;
    font-weight: 800;
}

h4 {
    font-size: 32px;
    font-weight: 400;
}

body > header {
    background: #ccc url(../images/gradientBackground.png) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 256px;
    padding: 256px 0;
}

    body > header > div {
        width: 50%;
        height: 100%;
    }

        header > .logoContainer {
            float: left;
        }

            .logoContainer > img {
                margin: 0 32px;
                float: right;
            }

        header > .contactsContainer {
            float: right;
        }

            .contactsContainer > div, ul {
                float: left;
            }

            .contactsContainer > .contactsStylingArrow {
                width: 70px;
                height: 256px;
                background: url(../images/angleShapeLeft.svg);
            }

            .contactsContainer > .contactsList {
                width: 256px;
                height: 240px;
                margin: 0;
                padding: 8px 0 8px 26px;
                background: #FFFF1A;
            }

                .contactsList > li {
                    margin: 24px 0;
                    height: 48px;
                }

                    .contactsList > li > a {
                        width: inherit;
                        height: inherit;
                        display: block;
                    }

                        .contactsList > li > a > img, div {
                            float: left;
                        }

                        .contactsList > li > a > img {
                            width: 48px;
                            height: 48px;
                            object-fit: contain;
                        }

                        .contactsList > li > a > ul {
                            margin: 1px 24px;
                        }
                            .contactsList > li > a > ul > li {
                                font: 18px;
                                padding: 3px 0;
                            }

                            .contactsList > li > a > ul > .contactTitle {
                                color: #000;
                            }

                            .contactsList > li > a:hover > ul > .contactValue {
                                text-decoration: underline;
                            }

body > main {
    width: 1280px;
    margin: 0 auto;
}

